<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Tech Blog Home</title>
    </head>
    <body class="bg-dark text-light">
        <div class="container-fluid mt-3 mb-5">
            <div class="col">
                <h1 class="display-3">The Tech Blog</h1>
                <hr/>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container-fluid">
                        <ul class="navbar-nav me-auto mb-2">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            </div>
        </div>
        <div class="container-lg mx-5">
            <div class="card my-4">
                <div class="card-header text-dark bg-info">Blog Post #1</div>
                <div class="card-body text-dark bg-light">
                <p class="h6">Posted by magicalkels on 5/15/2021</p>
                <br>
                Isn't technology great?! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil optio quod?Dignissimos explicabo eum, ullam minima iure doloremque accusamus cumque animi optio repellendus, veritatis fugiat blanditiis harum a rerum.<br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error odio cumque voluptatem nisi quae enim Animi fugit aliquam, exercitationem nulla voluptates quo aut sunt eaque ducimus harum. Mollitia, sit tenetur!
                </div>
            </div>
            <div class="card my-4">
                <div class="card-header text-dark bg-info">Blog Post #2</div>
                <div class="card-body text-dark bg-light">
                    <p class="h6">Posted by endowed on 5/10/2021</p>
                    <br>Isn't technology great?! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil optio quod? Dignissimos explicabo eum, ullam minima iure doloremque accusamus cumque animi optio repellendus, veritatis fugiat blanditiis harum a rerum.
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error odio cumque voluptatem nisi quae enim Animi fugit aliquam, exercitationem nulla voluptates quo aut sunt eaque ducimus harum. Mollitia, sit tenetur!
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>